<!DOCTYPE html>
<HTML lang="en">
<HEAD>
<TITLE>HBNB</TITLE>
</HEAD>
<BODY>
  {%- macro input() -%}<h1>Not found</h1>{%- endmacro %}
  {%- for state in states|sort(attribute="name") -%}
      {%- if id == state.id %}
          {% macro input() -%}{%- endmacro %}
          <H1>State: {{ state.name }}</H1>
          <H3>Cities:</H3>
          <ul>{% for city in cities|sort(attribute="name") -%}
                  {%- if city.state_id == state.id %}
                      <li>{{ city.id }}: <b>{{ city.name }}</b></li>
                  {%- endif %}
              {%- endfor %}
	  </ul>
      {%- endif %}
  {%- endfor %}

{{ input() }}

</BODY>
</HTML>
